{% extends "base.html" %}
{% block main %}
<h1>Create user</h1>
{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="POST"
    action="/user/add">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">{{ form.name.label }}</label>
      <div class="col-sm-10">
        {{ form.name(size=50, class_="form-control",
                          placeholder="Username", required="required") }}
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label"
              >{{ form.password.label }}</label>
      <div class="col-sm-10">
        {{ form.password(size=50, class_="form-control",
                          placeholder="Password", required="required") }}
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label"
              >{{ form.passwordVerif.label }}</label>
      <div class="col-sm-10">
        {{ form.passwordVerif(size=50, class_="form-control",
                          placeholder="Confirm password", required="required") }}
      </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">{{ form.role.label }}</label>
    <div class="col-sm-10">
      {{ form.role(class_="form-control") }}
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add user</button>
        <a class="btn btn-default" href="/user/edit">Back</a>
        <a class="btn btn-default" href="/">Exit</a>
      </div>
    </div>
</form>
{% endblock %}
