{% extends "base.html" %}
{% block main %}
<h1>New genre</h1>

{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="POST"
    action="/genre/add">
    {{ form.hidden_tag() }}
    <div class="form-group">
    <label class="col-sm-2 control-label">{{ form.name.label }}</label>
    <div class="col-sm-10">
      {{ form.name(class_="form-control", size=50, placeholder="Genre's name", required="required" ) }}
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add genre</button>
        <a class="btn btn-default" href="/genre/edit">Back</a>
        <a class="btn btn-default" href="/">Exit</a>
      </div>
    </div>
</form>
{% endblock %}
