{% extends "base.html" %}
{% block main %}
<h1>New album</h1>
{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data"
    action="/album/add">
    {{ form.hidden_tag() }}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
              {{ form.title(size=40, class_="form-control",
                                placeholder="Album title", required="required") }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.entryId.label }}</label>
            <div class="col-sm-10">
              {{ form.entryId(size=50, class_="form-control",
                                placeholder="Album's entryId", required="required") }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.img.label }}</label>
            <div class="col-sm-10">
              {{ form.img(size=50, class_="form-control")  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.releaseYear.label }}</label>
            <div class="col-sm-10">
              {{ form.releaseYear(size=4, class_="form-control",
                                placeholder="Album's releaseYear", required="required")  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.url.label }}</label>
            <div class="col-sm-10">
              {{ form.url(size=100, class_="form-control",
                                placeholder="Url for listening album")  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.author.label }}</label>
            <div class="col-sm-10">
              {{ form.author(size=100, class_="form-control",
                                placeholder="Album's author" )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.parent.label }}</label>
            <div class="col-sm-10">
              {{ form.parent(size=100, class_="form-control",
                                placeholder="Album's parent" )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.genres.label }}</label>
            <div class="col-sm-10">
              {{ form.genres(class_="form-control")  }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Add album</button>
              <a class="btn btn-default" href="/album/edit">Back</a>
              <a class="btn btn-default" href="/">Exit</a>
            </div>
          </div>
      </form>
{% endblock %}
