{% extends "base.html" %}
{% block main %}
{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
  <h1>Nom de l'album : {{ album.title }}</h1>
  <div class="d-flex flex-wrap">
    <img class="album_img" src="{{ url_for('static', filename='album_img/'+album.img) }}"/>
    <div class="info">
      <div class="d-flex flex-wrap Type-genre">
        <p>Genres dans l'album : </p>
          <p>
          {% for g in listGenre %}
            <a class="randomCouleur p-2 text-muted py-2 d-none d-md-inline-block genre " href="/album?search={{ g.name }}">{{ g.name }}</a>
          {% endfor %}
          </p>
      </div>
      <div class="d-flex flex-wrap Type-Annee">
        <p>Année de sortie de l'album : </p>
        <p>{{ album.releaseYear }}</p>
      </div>
      <div class="d-flex flex-wrap Type-Author">
        <p>Nom de l'auteur : </p>
        <p><a href="/author/{{ album.author.id }}">{{ album.author.name }}</a></p>
      </div>
      <div class="d-flex flex-wrap Type-Parent">
        <p>Nom de l'auteur parent :</p>
        <p><a href="/author/{{ album.parent.id }}">{{ album.parent.name }}</a></p>
      </div>
      <form class="d-flex flex-wrap form-horizontal" role="form" method="POST"
            action="/album/{{ album.id }}">
            {{ form2.hidden_tag() }}
        <div class="rating">
          <div class="stars">
            {% for subfield in form2.note %}
              <tr>
                  <td>{{ subfield(class_="fa fa-star") }}</td>
              </tr>
            {% endfor %}
          </div>
        </div>
        {% if connecter %}
          <button type="submit" class="btn btn-default">Noter</button>
        {% endif %}
      </form>
      <div class="note">
        {% if connecter %}
          <p>Votre note : {{ note }}</p>
        {% endif %}
          <p>Note moyenne : {{ noteM }}</p>
      </div>
    </div>
  </div>

  {% if connecter %}
    <form class="form-horizontal" role="form" method="POST"
          action="/album/{{ album.id }}">
          {{ form.hidden_tag() }}
      <div class="form-group">
        <label class="h4 col-sm-2 control-label">{{ form.playlist.label }}</label>
        <div class="col-sm-10">
          {{ form.playlist(class_="form-control")  }}
          <button type="submit" class="btn btn-default">Add in playlist</button>
        </div>
      </div>
    </form>
  {% endif %}

  {% if album.url is not none %}
    {% if spotify %}
      <iframe src="{{ album.url }}" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% else %}
      <p><a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="{{ album.url }}">Ecouter</a></p>
    {% endif %}
  {% else %}
    <p><a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="#">Pas de lien pour ecouter</a></p>
  {% endif %}


{% endblock %}
