{% extends "base.html" %}
{% block main %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex ">
      {% for g in genre %}
        <a class="randomCouleur p-2 text-muted py-2 d-none d-md-inline-block genre " href="/album?search={{ g.name }}">{{ g.name }}</a>
      {% endfor %}
    </nav>

    <div class="row flex-nowrap justify-content-between align-items-center">
        <form class="form-inline mt-2 " action="/album" method="GET">
          <select class="form-control mr-sm-2 shadow" name="order" id="order">
            {% for x in ranger %}
              <option class="my-2 shadow" value="{{ x[0] }}">{{ x[1] }}</option>
            {% endfor %}
          </select>
          <button class="btn my-2 btn-outline-secondary shadow" type="submit">sort</button>
        </form>
        <div class="option">
          <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="/album">all album</a>
          {% if connecter %}
            <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="/playlist/add">add playlist</a>
          {% endif %}
        </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <div class="containerMain">
    <div class="centre">
      {% if notFound %}
        <div class="d-flex justify-content-center align-items-center" id="main">
          <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
          <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">You requested was not found.</h2>
          </div>
        </div>
      {% endif %}
      <div class="listeAlbums">
        {% block templateAlbum %}
            {% for x in album %}
            <ul class="albums">
              <li><a class="Image-Album" href="/album/{{ x.id }}"><img class="Img-Album" src="{{ url_for('static', filename='album_img/' + x.img) }}"/></a></li>
              <li><a class="title-album" href="/album/{{ x.id }}">{{ x.title }}</a></li>
              <li><a class="auteur-album" href="/author/{{ x.author.id }}">{{ x.author.name }}</a></li>
            </ul>
            {% endfor %}
        {% endblock %}
      </div>
      <nav aria-label="Page navigation example" class="paginationCenter">
        <ul class="pagination paginationCenter">
          {% if page[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="/album?{{ GET }}page={{ page[1] }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
            </li>
          {% endif %}
          {% for x in range(1, page[3]+1) %}
            <li class="page-item"><a class="page-link" href="/album?{{ GET }}page={{ x }}">{{ x }}</a></li>
          {% endfor %}
          {% if page[0] < page[3] %}
            <li class="page-item">
              <a class="page-link" href="/album?{{ GET }}page={{ page[2] }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% if admin %}
      <div class="admin">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Setting</h3>
        <ul class="settingAdmin">
          {% for x in settingAdmin %}
            <li><a class="auteur-album" href="/{{ x[0] }}">{{ x[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
