{% extends "base.html" %}
{% block main %}
  <h1>Nom de l'autheur : {{ authors.name }}</h1>
  <h2>Albums : </h2>
  <ul>
  {% for x in listeAlbums %}
    <li><a href="/album/{{ x.id }}"> {{ x.title }} </a><li>
  {% endfor %}
  {% if listeAlbumsP != [] %}
    </ul>
    <h2>Albums parents : </h2>
    <ul>
    {% for x in listeAlbumsP %}
      <li><a href="/album/{{ x.id }}"> {{ x.title }} </a><li>
    {% endfor %}
  {% endif %}
  </ul>
{% endblock %}
