{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/etoile.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

{% endblock %}
{% block navbar %}
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-dark" href="/">
            <img class="icon text-center" src="{{ url_for('static', filename='icon_img/IUTMusic.png') }}"alt="icon">
            <h1 class="text-center d-none d-md-inline-block title-Head">{{ title }}</h1>
          </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <form class="form-inline mt-2 " action="/album" method="GET">
            <input class="form-control mr-sm-2 shadow" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2  btn-outline-secondary shadow" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </button>
            {% if hidebp %}
            {% else %}
            {% if connecter %}
              <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="/compte">Your Account</a>
            {% else %}
              <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="/login">Log in / Sign up</a>
            {% endif %}
            {% endif %}
          </form>

        </div>
      </div>
    </header>
    <hr class="featurette-divider">

  </div>
{% endblock %}
{% block content %}
  <main id="main" role="main" class="container">
  {% block main %}{% endblock %}
  </main>
  <div class="container">
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2021-2022 Company, Inc. &middot; <a href="/tree">Tree</a>;<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </div>
{% endblock %}
