{% extends "base.html" %}
{% block main %}

  <h1>{{ modification }} menu</h1>

  {% if err %}
    <div class="alert {{ execution[1] }}" role="alert">
      {{ execution[0] }}
    </div>
  {% endif %}
  <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="{{ lienAdd }}">add {{ modification }}</a>
  <table class="table">
    <thead>
      <tr>
        {% for t in tab %}
          <th scope="col">{{ t }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for form in Liste %}
        <tr>
          <th scope="row">
            <div class="col-sm-10">{{ form }}</div>
          </th>
          {% if lienEdit != '#' %}
          <td>
            <div class="col-sm-offset-2 col-sm-10">
              <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="{{ lienEdit }}{{ form.get_id() }}">Edit</a>
            </div>
          </td>
          {% endif %}
          <td>
            <div class="col-sm-offset-2 col-sm-10">
              <a onclick="return confirm('are you sure to delete {{ form.get_id() }} ?');" class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="{{ lienDel }}{{ form.get_id() }}">Delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-default" href="/">Exit</a>


{% endblock %}
