{% extends "base.html" %}
{% block main %}
<h1>Edit user</h1>
{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="POST"
    action="/user/edit/{{ user.username }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">{{ form.name.label }}</label>
      <div class="col-sm-10">
        <input disabled type="text" id="name" name="name" required size="50" value={{ user.username }}>
      </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label">{{ form.role.label }}</label>
    <div class="col-sm-10">
      {{ form.role(class_="form-control", required="required") }}
    </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Edit</button>
        <a class="btn btn-default" href="/user/edit">Back</a>
        <a class="btn btn-default" href="/">Exit</a>
      </div>
    </div>
</form>

{% endblock %}
