{% extends "base.html" %}
{% block main %}
<h1>Edit album</h1>
{% if err %}
  <div class="alert {{ execution[1] }}" role="alert">
  {{ execution[0] }}
  </div>
{% endif %}
<form class="form-horizontal" role="form" method="POST"
    action="/album/edit/{{ alb.id }}">
    {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{ form.id.label }}</label>
        <div class="col-sm-10">
          <input disabled type="text" id="name" name="name" required size="50" value={{ alb.id }}>
        </div>
      </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.title.label }}</label>
            <div class="col-sm-10">
              {{ form.title(size=40, class_="form-control",
                                placeholder="title album", value= alb.title, required="required") }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.entryId.label }}</label>
            <div class="col-sm-10">
              {{ form.entryId(size=50, class_="form-control",
                                placeholder="entryId album", value=alb.entryId, required="required") }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.img.label }}</label>
            <div class="col-sm-10">
              {{ form.img(size=50, class_="form-control", value=alb.img)  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.releaseYear.label }}</label>
            <div class="col-sm-10">
              {{ form.releaseYear(size=4, class_="form-control",
                                placeholder="releaseYear album", value= alb.releaseYear )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.url.label }}</label>
            <div class="col-sm-10">
              {{ form.url(size=100, class_="form-control",
                                placeholder="url for listen album", value= alb.url )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.author.label }}</label>
            <div class="col-sm-10">
              {{ form.author(size=100, class_="form-control",
                                placeholder="author of album", value= alb.author.name )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.parent.label }}</label>
            <div class="col-sm-10">
              {{ form.parent(size=100, class_="form-control",
                                placeholder="parent of album", value= alb.parent.name )  }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ form.genres.label }}</label>
            <div class="col-sm-10">
              {{ form.genres(class_="form-control", value= alb.genres )  }}
            </div>
          </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Edit</button>
        <a class="btn btn-default" href="/album/edit">back</a>
        <a class="btn btn-default" href="/">exit</a>
      </div>
    </div>
</form>
{% endblock %}
