{% extends "base.html" %}
{% block main %}
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex ">
        {% for g in genre %}
          <a class="randomCouleur p-2 text-muted py-2 d-none d-md-inline-block genre " href="/album?search={{ g.name }}">{{ g.name }}</a>
        {% endfor %}
      </nav>
    </div>
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="option">
        <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="/album">all album</a>
        {% if connecter %}
          <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="/playlist/add">add playlist</a>
        {% endif %}
      </div>
    </div>
  <div class="containerMain">
    <div class="centre">
      <h3 class="mt-5 pb-4 mb-4 fst-italic border-bottom">Recent albums</h3>
      <div class="carousel">
        {% block templateAlbumRecent %}
          {% for x in albumR %}
            <ul class="albums">
              <li><a class="Image-Album" href="/album/{{ x.id }}"><img class="Img-Album" src="{{ url_for('static', filename='album_img/' + x.img) }}"/></a></li>
              <li><a class="title-album" href="/album/{{ x.id }}">{{ x.title }}</a></li>
              <li><a class="auteur-album" href="/author/{{ x.author.id }}">{{ x.author.name }}</a></li>
            </ul>
          {% endfor %}
        {% endblock %}
      </div>
      <h3 class="mt-5 pb-4 mb-4 fst-italic border-bottom">Top rated albums</h3>
      <div class="carousel">
        {% block templateAlbumMieuxNoter %}
          {% for x in albumMieuxNoter %}
            <ul class="albums">
              <li><a class="Image-Album" href="/album/{{ x.id }}"><img class="Img-Album" src="{{ url_for('static', filename='album_img/' + x.img) }}"/></a></li>
              <li><a class="title-album" href="/album/{{ x.id }}">{{ x.title }}</a></li>
              <li><a class="auteur-album" href="/author/{{ x.author.id }}">{{ x.author.name }}</a></li>
            </ul>
          {% endfor %}
        {% endblock %}
      </div>
      <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="/album">More</a>

      {% if connecter %}
        <h2 class="mt-5 pb-4 mb-4 fst-italic border-bottom">Your playlists</h2>
        {% for i in range(nP) %}
        <h3 class="fst-italic border-bottom">{{ ListePlaylist[i].name }}</h3>
          <div class="carousel">
            {% for x in playlist[i] %}
              <ul class="albums">
                <li><a class="Image-Album" href="/album/{{ x.id }}"><img class="Img-Album" src="{{ url_for('static', filename='album_img/' + x.img) }}"/></a></li>
                <li><a class="title-album" href="/album/{{ x.id }}">{{ x.title }}</a></li>
                <li><a class="auteur-album" href="/author/{{ x.author.id }}">{{ x.author.name }}</a></li>
              </ul>
            {% endfor %}
          </div>
        <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary d-none d-md-inline-block shadow" href="/playlist/{{ ListePlaylist[i].id }}">See playlist</a>
        {% endfor %}
      {% endif %}
    </div>
    {% if admin %}
      <div class="admin">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Setting</h3>
        <ul class="settingAdmin">
          {% for x in settingAdmin %}
            <li><a class="auteur-album" href="/{{ x[0] }}">{{ x[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
