{% extends "base.html" %}
{% block main %}
  <h1>Login</h1>
    {% if err %}
      <div class="alert alert-danger" role="alert">
      Wrong password or username !
      </div>
    {% endif %}
  <form class="form-horizontal" role="form" method="POST"
      action="{{ url_for('login') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">
          {{ form.username.label }}</label>
        <div class="col-sm-10">
          {{ form.username(size=50, class_="form-control",placeholder="Username", required="required") }}
        </div>
      </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">{{ form.password.label }}</label>
      <div class="col-sm-10">
        {{ form.password(size=50, class_="form-control",placeholder="Password", required="required") }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2␣col-sm-10">
        <button type="submit" class="btn btn-default">Log in</button>
        <a class="btn btn-default" href="/">Exit</a>
        <a class="btn btn-default" href="/user/compte">Sign up</a>
      </div>
    </div>
  </form>
{% endblock %}
