{% extends "base.html" %}
{% block main %}
  <div class="nav-scroller py-1 mb-2">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <form class="form-inline mt-2 " action="/playlist/{{ id }}" method="GET">
          <select class="form-control mr-sm-2 shadow" name="order" id="order">
            {% for x in ranger %}
              <option class="my-2 shadow" value="{{ x[0] }}">{{ x[1] }}</option>
            {% endfor %}
          </select>
          <button class="btn my-2 btn-outline-secondary shadow" type="submit">sort</button>
        </form>
      <a class="mx-3 btn my-2 my-sm-0  btn-outline-secondary shadow" href="/album">all albums</a>
    </div>
    <hr class="featurette-divider">
  </div>
  <h1>{{ playlist.name }}</h1>
  <p>create by : {{ user_playlist.username }}</p>

  <div class="containerMain">
    <div class="centre">
      {% if notFound %}
        <div class="d-flex justify-content-center align-items-center" id="main">
          <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
          <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">You requested was not found.</h2>
          </div>
        </div>
      {% endif %}
      <div class="listeAlbums">
        {% block templateAlbum %}
            {% for x in album %}
            <ul class="albums">
              <li><a class="Image-Album" href="/album/{{ x.id }}"><img class="Img-Album" src="{{ url_for('static', filename='album_img/' + x.img) }}"/></a></li>
              <li><a class="title-album" href="/album/{{ x.id }}">{{ x.title }}</a></li>
              <li><a class="auteur-album" href="/author/{{ x.author.id }}">{{ x.author.name }}</a></li>
              {% if droitModif %}
                <li><a onclick="return confirm('are you sure to delete {{ x.title }} of playList ?');" class="mx-3 btn my-2 my-sm-0  btn-outline-secondary" href="/playlist/{{ id }}/del?id_album={{ x.id }}">delete of playList</a></li>
              {% endif %}
            </ul>
            {% endfor %}
        {% endblock %}
      </div>
      <nav aria-label="Page navigation example" class="paginationCenter">
        <ul class="pagination paginationCenter">
          {% if page[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="/playlist/{{ id }}?{{ GET }}page={{ page[1] }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
            </li>
          {% endif %}
          {% for x in range(1, page[3]+1) %}
            <li class="page-item"><a class="page-link" href="/playlist/{{ id }}?{{ GET }}page={{ x }}">{{ x }}</a></li>
          {% endfor %}
          {% if page[0] < page[3] %}
            <li class="page-item">
              <a class="page-link" href="/playlist/{{ id }}?{{ GET }}page={{ page[2] }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
