{% extends "base.html" %}
{% block main %}
<h1>Your account</h1>

    <div class="form-group">
      <label for="username" class="col-sm-2 control-label form-control">Name : {{ User.username }}</label>
    </div>
    <div class="form-group">
      <label for="role" class="col-sm-2 control-label form-control">Role : {{ role }}</label>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2␣col-sm-10">
        <a class="btn btn-default" href="/logout">Disconnect</a>
      </div>
    </div>

{% endblock %}
