/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
.fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
  margin: 0.3em;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
	color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
.stars{
	display: inline-flex;
	justify-content: center;
	font-size: 1.5em;
}


.rating div:first-of-type {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.rating label {
  margin-right: 15px;
  line-height: 32px;
}

.rating input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.rating input:checked {
  border: 6px solid red;
}

.rating input[type=radio] {
  border: 0px;
  width: 1em;
  height:1em;
}

.rating button {
  margin-left: 0.6em;
}

	/**
	 * Et là opère la magie du ':hover' !
	 */
.rating input{
 	color: #ffdc0f;
}
	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en jaune. */

.stars:hover .fa-star {
	color: #ffdc0f;
}
/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
	color: gray;
}

.rating input:checked ~ .fa-star{
  color: gray;
}
