li{
  list-style: none;
}

.listeAlbums{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.albums{
  box-shadow: 10px 5px 5px #EBEBEB;
  background-color: #F6F6F6;
  margin: 1em;
  padding: 0.8em;
  height: 20em;
  width: 13.6em;
}
.albums:hover{
  background-color: #E7E7E7;
  box-shadow: 10px 5px 5px #DDDDDD;
}
.Img-Album{
    width: 12em;
}
.auteur-album{
  font-size: 0.8em;
  color: #7C5DE3;
}
.auteur-album:hover{
  color: #5231C4;
  text-decoration: underline;
}
.title-album{
  font-size: 1.2em;
  color: #E35D5D;
  font-weight: bold;
}
.title-album:hover{
  color: #CA5555;
  text-decoration: underline;
}
.form-inline{
    flex-wrap: nowrap;
}

.icon{
  width: 5em;
  height:4em;
  margin: 0em 0em 2em -2em;
}

.title-Head{
  margin-top: 1em;
}

h1{
  font-size: 2em;
}

.form-control{
  border-color: #919191;
}

.genre{
  border: 2px solid;
  border-radius: 1em;
  margin: 2px;
  border-color: #919191;
}

.genreUse{
  background-color: red;
}
.shadow{
  box-shadow: 8px 5px 5px #DDDDDD;
}
.album_img{
  height: 23em;
}

.paginationCenter{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10%;
}

.actif{
  color: red;
}

.carousel{
  display: flex;
  background-color: #F1F1F1;
  height: 23em;
  width: 100%;
  overflow-x: scroll;
}
.randomCouleur:hover{
    background-color: rgb(255,200,140);
}
.randomCouleur:nth-child(2n):hover{
    background-color: rgb(233,144,233);
}
.randomCouleur:nth-child(3n):hover{
    background-color: rgb(140,160,255);
}
.randomCouleur:nth-child(4n):hover{
    background-color: rgb(210,250,235);
}
.containerMain{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.centre{
    width: 80%;
    flex-grow: 1;
}
.admin{
   width: 10em;
  flex-grow: 1;
}

.info{
  margin: 1em;
  width: 40%;
}
